{# Fontes #}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/fonts/font-awesome.min.css') }}">
<link type="text/css" rel="stylesheet"  href="{{ url_for('static', filename='styles/fonts/icon-form.css') }}">
<link type="text/css" rel="stylesheet"  href="{{ url_for('static', filename='styles/fonts/allura-font.css') }}">
{# CSS #}
{# Bootstrap #}
<link type= "text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
{# Setas Botão #}
<link type= "text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/ionicons.css') }}">
{# Estilo do template #} 
<link type= "text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
{# Responsividade #} 
<link type= "text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/responsive.css') }}">
{# Formulário #}
<link type= "text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}"> 